---
import HelloWorldComponent from "./HelloWorldComponent.astro";
const { job = "baker" } = Astro.props;
console.log(`CONTEXT: FixedContentComponent.  A.ps:  ${JSON.stringify(Object.entries(Astro.props))}`);
---

<p>0:  Programmers love starting from 0.</p>

<HelloWorldComponent greeting={`Aloha (${job})`} iscallto="HWC" calledfroma="FCC">
    {/* All HTML typed out within this HelloWorldComponent wrapper will be ignored if it is not part of something with a "slot" attribute. */}
    <Fragment slot="fixed-first-here"><p>1:  Opening text here.</p></Fragment>
    <p>2:  Here is some stuff about Fred the {job}.</p>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
    <Fragment slot="default"><p>3:  Looky here.</p></Fragment>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
    <Fragment slot="second-more-named" /> {/* Tricky!  Passes deliberately-empty slot children, so HelloWorldComponent fallback does NOT render! */}
    <Fragment slot="fixed-last-here"><p>5:  Closing text here.</p></Fragment>
    <p>6:  All done, I think.</p>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
</HelloWorldComponent>

<p>7:  And that's it, I guess.</p>