---
import FixedContentComponent from "./HelloWorldComponent.astro";
import HelloWorldComponent from "./HelloWorldComponent.astro";
const { career = "witch" } = Astro.props;
console.log(`CONTEXT: Headless-Sxa-Main.  A.ps:  ${JSON.stringify(Object.entries(Astro.props))}`);
---

<p>0:  0.</p>

<p>AND NOW FOR FRED</p>

<FixedContentComponent job="just Fred" bonus="extra prop" iscallto="FCC" calledfroma="HSM (A)">

<p>THANKS, FRED</p>

<HelloWorldComponent greeting={`Buon giorno (${career})`} iscallto="HWC" calledfroma="HSM (B)">
    {/* All HTML typed out within this HelloWorldComponent wrapper will be ignored if it is not part of something with a "slot" attribute. */}
    <Fragment slot="fixed-first-here"><p>1: 1 ({career}).</p></Fragment>
    <p>2:  2.</p>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
    <Fragment slot="default"><p>3:  3.</p></Fragment>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
    <Fragment slot="second-more-named" /> {/* Tricky!  Passes deliberately-empty slot children, so HelloWorldComponent fallback does NOT render! */}
    <Fragment slot="fixed-last-here"><p>5:  5.</p></Fragment>
    <p>6:  6.</p>{/* Rendered within HelloWorldComponent's <slot name="default"></slot>, or ignored if no such slot. */}
</HelloWorldComponent>

<p>7:  7.</p>