---
/*
 * 101-LEVEL LESSON:
 * Q:  Why is this file named "DefaultLayout.astro"?
 * A:  Because we hand-coded the "[...path].astro" file to
 *       include a <DefaultLayout /> element.
 *     The actual knowledge of what kind of
 *       HTML to generate lives here in this file.
 *      This is where we specify the outermost
 *       "<html>" tags and such.
 */

import SitecorePlaceholderHelper from "../components/system/Sitecore-Placeholder-Helper.astro";

import type { LayoutServiceData } from "@sitecore-jss/sitecore-jss/layout";

/*
 * 101-LEVEL LESSON:
 * Here, we tell Astro that any HTML-templating code trying to leverage
 *   <DefaultLayout />
 * needs to do so more like:
 *   <DefaultLayout layoutData={put-a-LayoutServiceData-typed-variable-here} />
 */
export interface Props {
    layoutData: LayoutServiceData;
}

// Fall back to a generic page title if the data from the API does not include one.
const titleTagText: string =
    Astro?.props?.layoutData?.sitecore?.route?.fields?.Title?.value?.toString() || "Generic page title";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{titleTagText}</title>
    </head>
    <body>
        {
            /* TODO: class="prod-mode" needs to be fancied up for editing mode and such */
        }
        <div class="prod-mode">
            <header>
                <SitecorePlaceholderHelper
                    name="headless-sxa-header"
                    rendering={Astro.props.layoutData.sitecore.route}
                />
            </header>
            <main>
                <div id="content">
                    <SitecorePlaceholderHelper
                        name="headless-sxa-main"
                        rendering={Astro.props.layoutData.sitecore.route}
                    />
                </div>
            </main>
            <footer>
                <SitecorePlaceholderHelper
                    name="headless-sxa-footer"
                    rendering={Astro.props.layoutData.sitecore.route}
                />
            </footer>
        </div>
    </body>
</html>
