---
import SCLSPlaceholderComponent from "../components/SCLSPlaceholderComponent.astro";
import type {
    LayoutServiceData,
    Field,
} from "@sitecore-jss/sitecore-jss/layout";

// Clarify that invocations of "<DefaultLayout>" can 
// instead be "<DefaultLayout layoutData={appropriate-variable-here}>".
export interface Props {
    layoutData: LayoutServiceData;
}

interface RouteFields {
    [key: string]: unknown;
    Title: Field;
}

// Make it more shorthandey to refer to whatever 
// "route" property <DefaultLayout> 
// has been given by its invoker.
const { route } = Astro.props.layoutData.sitecore;

// Make it more shorthandey to refer to `Route's` fields
const fields = route?.fields as RouteFields;

// Fall back to a generic page title if not passed in
const pagewideTitle: string =
    fields?.Title?.value?.toString() || "Generic page title";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{pagewideTitle}</title>
    </head>
    <body>
        <h1>{pagewideTitle}</h1>
        <slot />
        <main>
            <SCLSPlaceholderComponent name="headless-sxa-main" rendering={route} />
        </main>
        <footer><p>Thanks for coming.</p></footer>
    </body>
</html>
