---
import FixedContentComponent from "../components/FixedContentComponent.astro";
import HelloWorldComponent from "../components/HelloWorldComponent.astro";
import HeadlessSxaMain from "../components/Headless-Sxa-Main.astro";
import SCLSPlaceholderComponent from "../components/SCLSPlaceholderComponent.astro";
import type {
    LayoutServiceData,
    Field,
    RouteData,
} from "@sitecore-jss/sitecore-jss/layout";

// Clarify that invocations of "<DefaultLayout>" can
// instead be "<DefaultLayout layoutData={appropriate-variable-here}>".
export interface Props {
    layoutData: LayoutServiceData;
}

interface RouteFields {
    [key: string]: unknown;
    Title: Field;
}

// DEBUG LINE ONLY
console.log(`CONTEXT: DefaultLayout.  A.pks:  ${JSON.stringify(Object.keys(Astro.props))}`);

// Make it more shorthandey to refer to whatever
// "route" property <DefaultLayout>
// has been given by its invoker.
const { route }: { route: RouteData | null } = Astro.props.layoutData.sitecore;

// Make it more shorthandey to refer to `Route's` fields
const fields = route?.fields as RouteFields;

// Fall back to a generic page title if not passed in
const pagewideTitle: string =
    fields?.Title?.value?.toString() || "Generic page title";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{pagewideTitle}</title>
    </head>
    <body>
        <hr />
        <hr />
        <hr />
        <h1>{pagewideTitle}</h1>
        <hr />

        <header>
            <h2>BEGIN HEADER AREA</h2>
            <HelloWorldComponent greeting="Salut" name="le monde" iscallto="HWC" calledfroma="DL (1)" />
            <h3>END HEADER AREA</h3>
        </header>

        <hr />

        <main>
            <h2>BEGIN MAIN AREA</h2>
            {/* <HeadlessSxaMain career="candlestick maker" extranote="This displays 0:0 and such just fine when included." iscallto="HWC" calledfroma="DL (2-opt)" /> */}
            <SCLSPlaceholderComponent
                name="headless-sxa-main"
                rendering={route}
            />
            <h3>END MAIN AREA</h3>
        </main>

        <hr />

        <footer>
            <h2>BEGIN FOOTER AREA</h2>
            <FixedContentComponent job="shoemaker" iscallto="FCC" calledfroma="DL (3)" />
            <p>Copyright me.</p>
            <h3>END FOOTER AREA</h3>
        </footer>

        <hr />
        <hr />
        <hr />
    </body>
</html>
